body
{
	color: white;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(to right, black 50%, black 25%, darkslateblue);
}

label
{
	color: #eee;
}

#left
{
	width: 40%;
	float: left;
	height: 100vh;
	/*background: black;*/

	display: flex;
	align-items: center;
	flex-direction: row;
}

#login-block-wrapper
{
	width: 70%;
	margin: auto;


}

#checker-window
{
 width: 80%;
 padding: 0;
 margin: auto;
 margin-bottom: 20px;
 border-style: solid;
 border-width: 2px;
 border-radius: 50px;
 height: 47px;
}

#sign-up-link
{
	font-size: 15px;
	color: white;
	text-decoration: none;
	font-weight: 600;

	margin: 0;
	height: 100%;
	text-align: center;
	width: 50%;
	display: block;
	float: left;

	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.0);
	border: 0px;
}

#sign-up-link:hover
{
	background-color: white;
	color: black;
}

#log-in-link:hover
{
	background-color: white;
	color: black;	
}

#log-in-link
{
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-weight: 600;

	margin: 0;
	font-size: 15px;
	width: 50%;
	height: 100%;
	display: block;
	text-align: center;
	float: right;

	border-radius: 50px;
	background-color: rgba(0, 0, 0, 0.0);
	border: 0px;
}


.block
{
 width: 80%;
 padding: 5%;
 margin: auto;
 border-style: solid;
 border-width: 2px;
 border-radius: 20px;
 background: rgba(255, 255, 255, 0.1);
}

#login-block
{
	 transition: height 0.5s;
	 height: 200px;
}

#right
{
	width: 60%;
	float: left;
	height: 100vh;
	/*background: darkslateblue;*/
	text-align: center;
}

.reg-input
{
	width: 90%;
	font-size: 20px;
	margin-bottom: 5%;
	background: rgba(0, 0, 0, 0.0);
	color: white;

	border: solid;
	border-width: 2px;
	border-color: white;
	border-radius: 10px;
}

.reg-input:focus
{
	outline: none;
	border-color: darkslateblue;
}

.submit-button
{
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	text-align: center;
	width: 100%;
	margin-top: 5%;
	padding: 2%; 
	background-color: darkslateblue;
	color: white;
	border-radius: 50px;
	border-width: 2px;
	border-color: darkslateblue;
	border-style: solid;
}

.submit-button:hover
{
	background-color: rgba(0, 0, 0, 0.0);
	color: darkslateblue;
}

#right h1
{
	color: white;
	padding: 5%;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 30px;
}

#right p
{
	padding: 1% 10%;
	letter-spacing: 1px;
	color: #ccc;
	text-align: justify;
}

#guest-button
{
	text-align: center;
	margin: 5% 10% 0 10%;
	width: 80%;
	font-size: 15px;
	border-radius: 50px;
	border-width: 2px;
	border-style: solid;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	border-color: darkslateblue;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#guest-button:hover
{
	background-color: darkslateblue;
	color: white;
}

#live-games
{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	width: 90%;
	margin: 0 5%;
	border-width: 3px;
	border-style: solid;
	border-color: whitesmoke;
	color: white;
	padding: 1%;
}

#live-game
{
	margin-bottom: 1%;
	border-bottom: 2px;
	border-bottom-color: whitesmoke;
	border-bottom-style: solid;
}

#live-tag
{
	background-color: darkslateblue;
	color: white;
	border-radius: 10px;
	width: 15%;
	position: relative;
	top: -28px;
	left: 2.5%;
	font-size: 17px;
	padding: 4px;
	margin: 0 40%;
}

#game-name
{
	text-transform: uppercase;
	letter-spacing: 1px;
	display: inline;
	font-weight: 650;
	font-size: 20px;
}

.team-name
{
	color: pink;
	letter-spacing: 1px;
}

#tournir-table
{
	width: 90%;
	height: 80%;
}

#tournir-table-content
{
	height: 500px;
	overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


